.common_section {
    height: 300px;
    background: linear-gradient(#00000063, #00000063), url("../assets/images/bedroom.jpg") ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common_section h1 {
    color: white;
}

@media (max-width: 768px) {
    .common_section h1 {
        text-align: center;
    }
}