.shop_select {
    background-color: var(--primary-color);
    color: white;
    padding: 7px 15px;
    border-radius: 5px;

}

.form_search_shop {
    border: 1px solid var( --small-text-color);
    border-radius: 5px;
    padding: 5px;
    display: flex;
}

.form_search_shop input {
    border: 0;
    outline: none;
    width: 100%;
}

.form_search_shop i {
    font-size: 20px;
}